body {
    background-color: lightblue;
    align-content: center;
}
div {
    background-color: azure;
    margin: 10px;
    width: 70%;
    align-content: center;
}
input {
    margin: 5px;
}
input[type*="submit"] {
    background-color: rgb(240, 68, 68);
    padding: 10px;
    border-radius: 5px;
    text-decoration: white;
}
iframe {
    height: 400px;
    width: 400px;
}
.container {
    display: flex;
    align-items: center;
}
img {
    height: 50px;
    width: 50px;
}