html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
header {
    background-color: rgb(48, 48, 48);
    border-bottom: 4px solid greenyellow;
    height: 110px;
    width: 100%;
}
nav {
	margin: 27px auto 0;
    margin-right: 30px;
	width: 500px;
	height: 50px;
	background-color: #27292b;
	border-radius: 30px;
	font-size: 0;
}
nav a {
	line-height: 50px;
    width: 100px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	color: white;
	cursor: pointer;
}
header h1, header h4 {
    margin: 0;
    /* position: relative;
    bottom: 15px;
    left: 20px; */
    color: aliceblue;
}
header h1 {
    position: relative;
    margin-left: 15px;
}
h4.h4header {
    position: absolute;
    left: 40px;
    margin-bottom: 15px;
}
.container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.active {
    color: greenyellow;
}
main > div:nth-child(1) {
    background-color: dimgray;
}
h1.white {
    color: white;
    margin: 20px;
}
img.design {
    margin: 40px;
    border: 15px ridge #BFBFBF;
}
input[type*="button"] {
    background-color: yellowgreen;
    padding: 5px;
    margin: 20px;
}
p.gray {
    color: #BFBFBF;
    margin: 20px;
}
img.square {
    height: 120px;
    width: 120px;
    border: 10px solid rgb(255, 255, 255);
    float: left;
    margin: 25px;
}
div.center {
    align-items: center;
}
div.black {
    background-color: #27292b;
    text-align: left;
}
div.website {
    flex-basis: 70%;
    padding: 20px;
}
div.white {
    background-color: gainsboro;
}
div.grey {
    background-color: #BFBFBF;
}
div.container2 {
    display: flex;
    flex-direction: column;
    column-gap: 40px;
    padding: 100px;
    width: 60%;
    height: 60%;
}
time, strong {
    margin-top: 10px;
}
div > p {
    margin-left: 10px;
}
h1.greenrow {
    border-bottom: 2px solid yellowgreen;
}
p.greenrow {
    border-left: 10px solid yellowgreen;
    padding: 20px;
}
ul.first { list-style-type: square; }
li.first { padding: 10px; }
footer {
    background-color: rgb(48, 48, 48);
    border-top: 4px solid greenyellow;
    height: 350px;
    width: 100%;
}
ul.second { 
    list-style-type: none;
    color: #BFBFBF;
    padding: 0;
 }
footer h2 {
    background-color: #27292b;
	border-radius: 30px;
    text-align: left;
    color: aliceblue;
    padding: 10px;
}
div.margin { padding: 40px; }
p.dark { color: #BFBFBF; display: inline;}
p.light { color: aliceblue; display: inline; }
