table, td {
    border: 1px solid black;
    border-color: black;
    border-collapse: collapse;
    padding: 5px;
  }
table.kentron {
    margin-left: auto;
    margin-right: auto;
  }
td.center {
    text-align: center;
}
td.right {
    text-align: right;
}